.CCBg{
    display: flex;
    align-items:center;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(17, 17, 17, 0.7);
    z-index: 1000;
    line-height: normal;
}

.CCTitleSubCont{
    margin:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;

}

.CCContainer{
    padding:15px;
    width: 45%;
    border-radius: 5px;
    background-color: rgb(190, 229, 191);
}

.CCFormGroup{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 5px;
    border-top: 3px solid rgb(243, 243, 160);
}

.CCTitle{
    font-size: 2rem;
    font-weight: 700;
    margin:0;
    width: 50%;
}

.CCSubtitle{
    font-size: 1rem;
    color:rgb(95, 95, 95);
    font-weight: 600;
    background: rgb(243, 243, 160);
    border-radius: 20px;
}

.terms {
    font-size: 1rem;
    font-weight: 600;
    
}

.CCinput #userIDsTxtbx{
    height: 2rem;
}

#userIDsTxtbx{
    resize: vertical;
    max-height: 4rem;
    min-height: 2rem;
    width: 95%;
    font-family: 'Noto Sans Display', sans-serif;
}

.CCcloseBtn{
    background-color: transparent;
    border: none;
    font-weight: 900;
    color:maroon;
    cursor: pointer;
}

.slider-group{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 25px;
}

.slider-group input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider-group input:checked + .slider {
    background-color: #2196F3;
}

.slider-group input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.slider-group input:checked + .slider:before {
    -webkit-transform: translateX(9px);
    -ms-transform: translateX(9px);
    transform: translateX(9px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.CCSubLabel{
    font-size: 1rem;
    color:rgb(68, 68, 68);
    font-weight: 500;
    width: 80%;
}

#addChannelCheckbox{
    margin:0;
}

.CCSubFormGroup, .CCBottom, .MTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shareOthers{
    display: flex;
    flex-direction: row-reverse;
    width: 30%;
}

.noWrap{
    white-space: nowrap;
}

.CreateBtn{
    background-color: #49274b;
    border-radius: 5px;
    border: none;
    color: cornsilk;
    font-size: 1.2rem;
    width: 25%;
    height: 35px;
}

.CreateBtn:hover{
    background-color: #611f69;
}

.hide{
    visibility: hidden;
    display: none;
}

.show{
    visibility: visible;
}

.listAvatar{
width: 25px;
height: 25px;
}

.usersList{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 5px;
    cursor: pointer;
    color: black;
}

.usersList:hover{
background-color: lavender;
}

.searchListCont{
    max-height: 10rem;
    overflow-y: scroll;
    min-width: min-content;
}

.success{
    color:rgb(87, 165, 9);
    font-size: 1.2rem;
    text-align: center;
}

.form-input {
    font-size: 13px;
}

@media screen and (max-width: 700px){
.CCContainer{
    width: 80%;
}
.CreateBtn{
    font-size: calc(15px + (10 - 15) * ((100vw - 300px) / (1600 - 300)));
}
}
