.chat-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.chat-header {
  min-height: 47px;
  width: calc(100% - 15px);
  border-bottom: solid 1px gray;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.chat-body {
  padding-left: 13px;
  padding-right: 13px;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.bubble {
  width: 100%;
  display: flex;
  margin-top: 10px;
}

.msg-sender {
  font-size: 0.7rem;
  padding-bottom: 2px;
}

.msg-content {
  padding: 5px;
  border-radius: 5px;
  background-color: grey;
  color: white;
}

.bubble.you {
  flex-direction: row-reverse;
  text-align: right;
}

.bubble.you > .msg-wrap > .msg-sender {
  display: none;
}

.bubble.you > .msg-wrap > .msg-content {
  background-color: rgb(140, 175, 240);
  color: rgb(36, 80, 160);
}

.msg-content {
  font-weight: 300;
}

.chat-box-container {
  min-height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-box {
  margin: 20px;
  padding: 10px;
  border: solid 1px gray;
  position: absolute;
  bottom: 0;
  width: calc(100% - 300px);
}

.chat-box textarea {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
}
