html {
  font-size: 10px;
}

div.header-container {
  background-color: #3f0e40;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
}

.left-header {
  margin-right: 15px;
}

.mid-header {
  display: flex;
  justify-content: space-between;
  width: 40%;
  background-color: rgb(93, 61, 94);
  padding: 5px;
  border-radius: 5px;
}

.right-header {
  margin-left: 15px;
}

.user-avi {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 2px;
  height: 35px;
  width: 35px;
  margin: 10px;
  background-color: #920e95;
  right: 0;
  border-radius: 5px;
  font-size: 5rem;
}

.tooltiptext {
  visibility: hidden;
  font-size: 1.5rem;
  background-color: black;
  color: #fff;
  text-align: right;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 115%;
  left: -305%;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 90%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.left-header,
.mid-header,
.right-header,
.user-avi,
.signout-container {
  cursor: pointer;
}

.user-menu {
  visibility: hidden;
  font-size: 1.5rem;
  background-color: white;
  color: black;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  top: 45px;
  right: 10px;
  z-index: 1;
  border: solid 1px gray;
  border-radius: 5px;
}

.user-details {
  display: flex;
  padding-bottom: 10px;
  border-bottom: solid 1px black;
}

.user-image {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.user-name-status {
  font-size: 2rem;
}

.signout-container {
  padding: 10px 5px 10px;
  font-size: 2rem;
  background-color: white;
  color: black;
}

.signout-container:hover {
  background-color: #126483;
  color: white;
}

.user-avi:hover .user-menu {
  visibility: visible;
}
