html {
  font-size: 10px;
}

div.header-container {
  background-color: #3f0e40;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
}

.left-header {
  margin-right: 15px;
}

.mid-header {
  display: flex;
  justify-content: space-between;
  width: 40%;
  background-color: rgb(93, 61, 94);
  padding: 5px;
  border-radius: 5px;
}

.right-header {
  margin-left: 15px;
}

.user-avi {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 2px;
  height: 35px;
  width: 35px;
  margin: 10px;
  background-color: #920e95;
  right: 0;
  border-radius: 5px;
  font-size: 5rem;
}

.tooltiptext {
  visibility: hidden;
  font-size: 1.5rem;
  background-color: black;
  color: #fff;
  text-align: right;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 115%;
  left: -305%;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 90%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.user-avi:hover .tooltiptext {
  visibility: visible;
}

.left-header,
.mid-header,
.right-header,
.user-avi {
  cursor: pointer;
}
