@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

.sidebar {
  background-color: rgb(63, 5, 78);
  height: 100%;
  min-width: 240px;
  color: white;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  font-family: "Baloo 2", cursive;
}

.sidebar_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #49274b;
  border-top: 1px solid #49274b;
  min-height: 50px;
}

.sidebar_header > .MuiSvgIcon-root {
  padding: 8px;
  color: #49274b;
  font-size: 1rem;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
}

.sidebar_options {
  max-height: max-content;
  padding-left: 2px;
  display: flex;
  flex-direction: column;
  line-height: 10px;
}

.sidebarChannel {
  color: white;
  padding: 6px;
  text-decoration: none;
  cursor: pointer;
  padding-left: 7px;
  font-size: 13.8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidebarChannel.sidebarOptionActive {
  background: rgba(190, 229, 191, 0.911);
  color: #49274b;
}

.sidebarChannel.sidebarOptionActive:hover {
  background: rgba(190, 229, 191, 0.911);
  color: #49274b;
}

.sidebarChannel > .MuiSvgIcon-root {
  font-size: 1rem;
  padding-right: 2px;
}

.sidebarOption:hover,
.sidebarChannel:hover {
  opacity: 0.9;
  background-color: rgba(108, 51, 122, 0.514);
}

.sidebarOption:hover,
.sidebarChannel:hover {
  border-left: 5px solid rgb(238, 238, 137);
}

.toPeople:hover {
  border-left: 5px solid rgb(238, 238, 137);
  opacity: 0.9;
  background-color: rgba(108, 51, 122, 0.514);
}

.toPeople {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.toPeople > .MuiSvgIcon-root {
  display: flex;
  flex-direction: row;
  padding: 6px;
  padding-left: 15px;
  font-size: 1rem;
}

.toPeople > h5 {
  font-weight: 500;
  font-size: 0.9rem;
}

.sub_menu {
  padding: -10px;
  border-bottom: 1px solid #49274b;
  border-top: 1px solid #49274b;
  font-size: 0.1rem;
}

ul {
  padding-left: 0px;
}
